<!DOCTYPE html>
<html>
<head>
  <title>TwitterBootstrap</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="navbar navbar-inverse ">
    <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Title</a>

      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>

      <form class="navbar-search pull-right">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
      </form>
    </div>
  </div>

  <%= yield %>

</div>
</body>
</html>
