<!DOCTYPE html>
<html>
<head>
  <title>TwitterBootstrap</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Title</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

        <form class="well form-search pull-right" >
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Поиск</button>
        </form>

    </div>
  </div>

  <%= yield %>

</div>
</body>
</html>
